html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient( #ac223b, #2556b8);
}

.App-Login {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;

  display: table;
}

.Login-Wrapper {
  display: table-cell;
  vertical-align: middle;
}

.Invisible-Form {
  display: inline;
}

.App-Login-Button {
  -webkit-appearance: none;
  
  color: white;
  background-color: #282C34;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  font-weight:bold;
}

.Header-Left {
  padding: 20px;
  color: white;
}

.Player {
  color: white;
  margin: 0px 20px 20px 20px;
  
}

h1 {
  color: white;
  text-align: center;
}

.Player p {
  text-align: center;
}

.Player p {
  margin-top: -10px;
}

.App-widget {
  margin: 20px;
  padding: 5px 15px 15px 15px;
  border-radius: 15px;
  background-color: #282c34;
  color: white;
  height: 22%;
  opacity: 85%;
}

.App-widget h2 {
  margin-bottom: 15px;
}

.App-widget h3, h4 {
  text-align: center;
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-widget {
    animation: App-widget-breath infinite 5s linear;
  }
}

@keyframes App-widget-breath {
  0% {
    margin: 20px;
  }
  50% {
    margin: 15px;
  }
  100% {
    margin: 20px;
  }
}

/* MOVE TO NEW FILE BELOW */

.Queue {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #282C34;
  opacity: 0.85;
  color: white;
}

.Queue-Empty {
  text-align: center;

  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.Queue-Header {
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 0px;
  width: 80%;
}

.Queue-Body {
  width:90%;
  margin: auto;
}

.Queue-Body p {
  font-size: 17px;
}

.Search {
  width: 245px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

::placeholder {
  color: white;
  opacity: 1;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

/* NEW FILE */
.Param-Grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}